html, body{
    height: 100%;
}
body{
    background-color: aqua;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.mainForm{
    background-color: rgb(204, 204, 251);
    height: 780px;
    width: 750px;
}
.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.formContent input{
    display: block;
    width: 400px;
    height: 40px;
    border: 1px solid black;
    outline: none;
}

.formContent input:valid{
    background-color: greenyellow;
}

.formContent input:invalid{
    background-color: rgb(238, 151, 151);
    border: 1px solid red;
}
.emailError, 
.zipCodeError,
.contryError,
.passwordError,
.C_passwordError{
    color: red;
    margin-top: 5px;
    opacity: 0%;
}